header{
  padding-top:5%;
  padding-bottom: 5%;
  background-color: #2BA3D4;
}
/**
.description{
  vertical-align: middle;
  align-items: center;
  text-align: center;
  justify-content: center;
}**/
.second{
  font-size: 1.5em;
}
.btn-large{background-color: white;}
.btn-large:hover {
    background-color: white;
}
.third{
  background-color: #2BA3D4;
  padding: 5%;
}

.page-footer {
    
    background-color: white;
}
.description{
  color: white;
  padding-top: 5%;
}
.txt-dsc{

}
/**
@media screen and (max-width: 414px) {
  .desktop{
    display: none;
          }
  .mobile{
    display: block;
          }
}
**/
